CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=125000000
##### Point Devices ####
# CONFIG_ZMK_PD_WORK_QUEUE_DEDICATED=n
# CONFIG_ZMK_PD_DEDICATED_WORK_QUEUE_PRIORITY=2
# CONFIG_ZMK_TRACKBALL_POLL_DURATION=8

# CONFIG_ZMK_MOUSE=y
# CONFIG_ZMK_MOUSE_TICK_DURATION=10
# CONFIG_ZMK_MOUSE_WORK_QUEUE_DEDICATED=y
# CONFIG_ZMK_MOUSE_DEDICATED_THREAD_PRIORITY=1

### Bluetooth ###
# CONFIG_BT_PERIPHERAL_PREF_MAX_INT=9
# CONFIG_BT_PERIPHERAL_PREF_LATENCY=16
# CONFIG_BT_BUF_ACL_TX_COUNT=32
# CONFIG_BT_L2CAP_TX_BUF_COUNT=32

#### Enable encoder support ####
# CONFIG_EC11=y
# CONFIG_EC11_TRIGGER_GLOBAL_THREAD=y

# set transmission power to max
# CONFIG_BT_CTLR_TX_PWR_PLUS_8=y

# CONFIG_NICE_NANO_SHIELD_MASTER=y

# # Turn on logging
# CONFIG_ZMK_USB_LOGGING=y
# CONFIG_LOG=y
# CONFIG_ZMK_LOG_LEVEL_DBG=y
