config SHIELD_CHARYBDIS_CIRQUE_LEFT
    bool "charybdis_cirque_left"

config SHIELD_CHARYBDIS_CIRQUE_RIGHT
    bool "charybdis_cirque_right"
    select ZMK_MOUSE
    select pinctrl
    select INPUT
    select INPUT_PIXART_PMW3360
