if BOARD_CHARYBDIS_CIRQUE_RIGHT

    config ZMK_KEYBOARD_NAME
        default "uniqueding-kb"

    config ZMK_SPLIT_BLE_ROLE_CENTRAL
        default y

endif

if BOARD_CHARYBDIS_CIRQUE_LEFT
    config ZMK_KEYBOARD_NAME
        default "uniqueding-kbs"

endif

if BOARD_CHARYBDIS_CIRQUE_LEFT || BOARD_CHARYBDIS_CIRQUE_RIGHT

    config ZMK_SPLIT
        default y
    # config ZMK_USB
    #     default y

endif
