config BOARD_CHARYBDIS_CIRQUE_LEFT
    bool "charybdis_cirque_left"
    depends on SOC_NRF52840_QIAA

config BOARD_CHARYBDIS_CIRQUE_RIGHT
    bool "charybdis_cirque_right"
    depends on SOC_NRF52840_QIAA
    select ZMK_MOUSE
    select pinctrl
    select INPUT
    select INPUT_PIXART_PMW3360
